{% extends "base.html" %}

{% block header %}
<h1>YoTaxi</h1>
{% endblock %}

{% block content %}
<div id="info">
<p>Yo to get the number of nearest Taxi stand</p>
</div>
<div id="list">
<p>It's Simple:</p>
<ul>
	<li>Click on <a href="http://justyo.co">here</a> to install the latest version of YO</li>
	<li>Add YOTAXISTAND as a contact (click "+" in the YO app)</li>
</ul>
<p>Each time you want to find out the Taxi stand's number:</p>
<ul>
	<li>Double-tap on YOTAXISTAND to send us your location</li>
	<li>We send you back a YO with the number of nearest open Taxi stand</li>
</ul>
<p>Make sure you double tap as we use your location!</p>
</div>
{% endblock %}